/*-- //responsive-design --*/

nav {height:200px; width: 200px}
nav {overflow:hidden; overflow-y:scroll;}
button{display: inline-block; width: 100%;}
.menu {
    position: fixed;
    left: 100%;
    width: 100%;
    padding-top: 1em;
    animation-name: menu-center;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.menu > a {
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    padding-left: .5em;
    padding-right: .5em;
    text-decoration: none;
    display: inline-block;
    animation-name: menu-fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.icons {
    float: right;
    position: fixed;
    padding-top: 10px;
    left: 100%;
    margin-top: -5em;
    animation-name: icons-fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.icons img {
    padding-right: 10px;
    width: 1.2em;
}
.menu > a:hover {
    background-color: rgba(255,255,255,.7);
}
.banner-padding {
    padding-top: 77px;
    margin-top: -77px;
}
.spanning-img {
    max-width: 100%;
    height: auto;
}
.subsection-header{
    style=text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.parallax {
    /* The image used */
    background-image: url("/images/crowder-summit.jpg");
    
    /* Set a specific height */
    min-height: 500px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(73, 187, 237);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.table {
    width: 100%;
}
.Rtable--3cols tbody tr th,td {
    border: 1px solid black;
    width: 33.33%;
}
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}
.myImage {
    display: block;
    width: 10em;  
    margin:auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px solid rgba(0,0,0,.5);
}
.button {
    background-color: #ffffff;
    border: 2px solid rgba(0,0,0,1);
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 5px;
    font-size: 10px;
}
.myContent {
    opacity: 0;
    margin-top: 10em;
    animation-name: intro-content;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.info-text {
    font-family: 'Slabo 27px', serif;
    color: rgb(255, 255, 255);
    font-size: 1em;
}

.dynamic-flex-container {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-direction: row;
}
.intro-text-hi {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0);
    animation-name: greeting, fade-away;
    animation-duration: 2s, 0s;
    animation-delay: .5s, 3s;
    animation-fill-mode: forwards;
}
.intro-text-im {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0);
    animation-name: greeting, fade-away;
    animation-duration: 2s, 0s;
    animation-delay: 1.25s, 3s;
    animation-fill-mode: forwards;
}
.intro-text-myName {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0);
    animation-name: greeting-name, move-name;
    animation-duration: 3s, 2s;
    animation-delay: 1.5s, 3s;
    animation-fill-mode: forwards;
}
.myContainer {
    width: 100%;
}
.banner {
    background: rgba(50,50,50,.8);
    position: fixed;
    top: 50%;
    margin: auto;
    width: 100%;
    height: auto;
    animation-name: banner-intro;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    z-index: 1;
}

.myHeadingText {
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;
    font-weight: 400;
    font-size: 1.5em;
    background-color: rgba(0, 35, 82, 0.5);
}
.myLanguagesText {
    color: rgba(0, 0, 0, .6);
    font-size: 1.25em;
}
.experience-details-text {
    font-size: 1.25em;
}
.myDivider {
    background-color: rgba( 50, 50, 50, 1);
    border-color: rgba( 50, 50, 50, 1);
    height: 5px !important;
}
.myProjectImg {
    border: 3px solid rgba(0,0,0,.5);
    border-radius: 5px;
    width: 5em;
    margin: auto;
    display: block;
}
.flex-container-column {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-direction: column;
}
.flex-container-row {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-direction: row;
}
.intro-background{
    background-color: rgba(0, 0, 0, .6);
}
.flex-item {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.retro-text{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2.5em;
    color: rgb(227, 106, 90);
}
.info-block {
    background-color: rgba(38, 38, 38, 0.75);
}
.bar {
    display: flex;
    border: 2px solid black;
    margin-top: 2px;
    background-image: url("/images/bar_bg.png");
    background-size: 3em 1.5em;
}

.skills-details {
    padding: 10px;
}

.background {
    background-image: url("/images/crowder-summit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: auto;
    background-color: rgb(33, 33, 33);
}
@keyframes banner-intro {
    from { top: 50%; }
    to { top: 0%; }
}
@keyframes intro-content {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes greeting {
    from {color: rgba(255, 255, 255, 0);}
    to {color: rgba(255, 255, 255, 1); text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;}
}
@keyframes fade-away {
    100% {color: rgba(255, 255, 255, 0); font-size: 0em;}
}
@keyframes greeting-name {
    from {color: rgba(255, 255, 255, 0);}
    to {color: rgba(255, 255, 255, 1); text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;}
}
@keyframes move-name {
    from {left: 50%; position: fixed;}
    to {left: 0%; position: fixed; margin-left: .5em;}
}
@keyframes menu-center {
    from {position: relative; left: 0%;}
    to {position: relative; left: 0%;}
}
@keyframes menu-fade-in {
    from {color: rgba(255, 255, 255, 0);}
    to {color: rgba(255, 255, 255, 1); text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;}
}
@keyframes icons-fade-in {
    from {position: relative; left: 0%;}
    to {position: relative; left: 0%;}
}
@media (min-width: 416px) {
    .icons {
        padding-top: 2em;
    }
    .banner-padding {
        padding-top: 55px;
        margin-top: -55px;
    }
}
@media (min-width: 900px) {
    .myImage {
        width: 14em;
    }
    .menu {
        margin-top: 0em;
        padding-top: 0em;
    }
    .icons {
        margin-top: -2em;
    }
    .flex-item {
        padding-left: 100px;
        padding-right: 100px;
    }
    .icons img {
        width: 2em;
        padding-right: 1.5em;
    }
    .info-text {
        font-size: 1.5em;
    }
    .menu > a {
        font-size: 1.5em;
    }
    .icons {
        float: right;
        padding-right: 3em;
        padding-top: 0px;
        position: fixed;
        left: 100%;
        animation-name: icons-fade-in;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 3s;
    }
    .myHeadingText {
        font-size: 2.5em;
    }
}
@media (min-width: 1500px) {
    .about-me-text {
        width: 70%;
    }
    .button {
        font-size: 20px;
    }
    .intro-text-hi {
        font-size: 2.5em;
    }
    .intro-text-im {
        font-size: 2.5em;
    }
    .intro-text-myName {
        font-size: 2.5em;
    }
    .myContent {
        margin-top: 5em;
    }
    .myImage {
        width: 17em;
    }
    .myProjectImg {
        width: 10em;
    }
    .dynamic-flex-container {
        display: flex;
        display: flex;
        flex-direction: column;
        flex-direction: column;
    }

    .flex-item {
        padding-left: 400px;
        padding-right: 400px;
    }
}
@-moz-document url-prefix() {
    .banner-padding {
        padding-top: 70px;
        margin-top: -70px;
    }
    @media (min-width: 398px) {
        .banner-padding {
            padding-top: 45px;
            margin-top: -45px;
        }
    }
}
